<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head.ejs") %>
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/cart.css">
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <div class="products-viewer">
                <%- include('cartItem.ejs') %>
            </div>
            <div class="full-cart-options-bar">
                <div class="empty-cart">
                    Limpiar Carrito <i class="fas fa-trash-alt"></i>
                </div>
                <div class="confirm-cart">
                    <a href="/Login">
                        Confirmar Carrito <i class="fas fa-check"></i>
                    </a>
                </div>
            </div>
            <div class="safety-mentions">
                <div class="caja-envio">
                    <img src="https://img.icons8.com/pastel-glyph/64/000000/shipping-service--v2.png"/>
                    <div class="caja-envio-texto">
                        <h4>Enviamos tu compra</h4>
                        <p>Entregas en todo el pais</p>
                    </div>
                    
                </div>
    
                <div class="caja-pago">
                    <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-credit-card-finance-kiranshastry-lineal-kiranshastry-1.png"/>
                    <div class="caja-envio-texto">
                        <h4>Paga como quieras</h4>
                        <p>Tarjetas de crédito o efectivo</p>
                    </div>
                </div>
    
                <div class="caja-seguridad">
                    <img src="https://img.icons8.com/windows/32/000000/security-block.png"/>
                    <div class="caja-envio-texto">
                        <h4>Compra con seguridad</h4>
                        <p>Tus datos siempre protegidos</p>
                    </div>
                </div>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>