<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <link rel="stylesheet" href="./css/styles-detalle.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="barra">
            <h2> Amazon <br> echo dot </h2>
            <a href="/Carrito"> <button type="button"> Comprar </button> </a>

        </div>
        <div class="descripcion-desktop">
            <img src="https://m.media-amazon.com/images/I/61V5O0UpgqS._AC_SX425_.jpg" alt="acá iría la imagen">
            <div class="descripcion-mitad">
                <h3>Características</h3>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam dignissimos quae dolor unde quisquam
                    minus aliquam. Excepturi, porro odit nobis sit molestiae, aperiam libero non nulla fugit iste quidem
                    reprehenderit?</p>
                    <form action="#" method="POST" class="formDesktop">
                        <label>COLOR</label>
                        <select name="color">
                            <option value="color01">Azul</option>
                            <option value="color02">Rojo</option>
                            <option value="color03">Negro</option>
                        </select>
                        <label class="cantidad" >CANTIDAD</label>
                        <select name="cantidad">
                            <option value="cantidad01">1</option>
                            <option value="cantidad02">5</option>
                            <option value="cantidad03">10</option>
                        </select>
                    </form>    
            </div>
            
        </div>

        <img src="https://m.media-amazon.com/images/I/61V5O0UpgqS._AC_SX425_.jpg" alt="acá iría la imagen"
            class="imagen">
        <h3 class="colorTitle"> Color </h3>
        <div class="buttons">
            <button type="button" class="blue">   </button>
            <button type="button" class="red">  </button>
            <button type="button" class="black">   </button>
        </div>
        <form action="#" method="POST" class="form-mobile">
        <div> 
            <label class="quantity-mobile">CANTIDAD</label>
            <select name="cantidad">
                <option value="cantidad01">1</option>
                <option value="cantidad02">5</option>
                <option value="cantidad03">10</option>
            </select>
        </div>
        </form>

        <div class="descripcion">
            <h3 class="caracteristica">Características</h3>
            <p class="texto-descripcion">Acá iría la descripción</p>
        </div>
        <h3 class="caracteristica">Productos relacionados</h3>
        <article class="article-related">
            <div class="article-related-half">
                <img src="https://i.ebayimg.com/images/g/L28AAOSwFNFf8lpP/s-l300.jpg">
                <p>Lorem ipsum</p>
                <div class="price">$22.000</div>
            </div>
            <div class="article-related-half">
                <img src="https://i.blogs.es/0404b9/sensores/1366_2000.jpg">
                <p>Lorem ipsum</p>
                <div >$850</div>
            </div>
        </article>
    </main>
    <%- include("../partials/footer.ejs") %>

</body>

</html>