<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styleCarrito.css">
        <script src="https://kit.fontawesome.com/a245b1184d.js" crossorigin="anonymous"></script>
		<title>Carrito</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="header-first-line">
                    <a href="/"><img class="TecHouse-logo" src="./images/Logo-TecHouse-header.png" alt="Logo de TecHouse"></a>
                    <div class="first-line-buttons">
                        <div class="productCart-support">
                            ¿Necesitas ayuda? <i class="fas fa-question-circle"></i>
                        </div>
                        <div class="productCart-close">
                            <a href="/"><i class="far fa-times-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-wishlist-bar">
                <div class="cart-list">
                    Tú Carrito
                </div>
                <div class="wish-list">
                    Tú Wishlist
                </div>
            </div>
            <!-- visualización Desktop -->
        </header>
        <main>
            <section class="products-viewer">
                <div class="product">
                    <div class="product-info">
                        <img src="https://m.media-amazon.com/images/I/61V5O0UpgqS._AC_SX425_.jpg" alt="Foto de producto">
                        <div class="product-details">
                            <h3>Nombre de producto</h3>
                            <p>
                                Detalles generales y consideraciones del producto elegido. 
                            </p>
                            <p>
                                Ranking <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </p>
                        </div>
                    </div>
                    <div class="product-pricing">
                        <div class="unit-price">
                            $ 4.200,00
                        </div>
                        <div class="product-amount">
                            <i class="far fa-caret-square-left"></i>
                            <div class="unit-amount">
                                1
                            </div>
                            <i class="far fa-caret-square-right"></i>
                        </div>
                        <div class="product-subtotal">
                            <div class="subtotal-label">
                                Sub-total:
                            </div>
                            <div class="subtotal-price">
                                $ 4.200,00
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-info">
                        <img src="https://i.ebayimg.com/images/g/L28AAOSwFNFf8lpP/s-l300.jpg" alt="Foto de producto">
                        <div class="product-details">
                            <h3>Nombre de producto</h3>
                            <p>
                                Detalles generales y consideraciones del producto elegido. 
                            </p>
                            <p>
                                Ranking <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </p>
                        </div>
                    </div>
                    <div class="product-pricing">
                        <div class="unit-price">
                            $ 22.000,00
                        </div>
                        <div class="product-amount">
                            <i class="far fa-caret-square-left"></i>
                            <div class="unit-amount">
                                4
                            </div>
                            <i class="far fa-caret-square-right"></i>
                        </div>
                        <div class="product-subtotal">
                            <div class="subtotal-label">
                                Sub-total:
                            </div>
                            <div class="subtotal-price">
                                $ 88.000,00
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-info">
                        <img src="https://i.blogs.es/0404b9/sensores/1366_2000.jpg" alt="Foto de producto">
                        <div class="product-details">
                            <h3>Nombre de producto</h3>
                            <p>
                                Detalles generales y consideraciones del producto elegido. 
                            </p>
                            <p>
                                Ranking <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            </p>
                        </div>
                    </div>
                    <div class="product-pricing">
                        <div class="unit-price">
                            $ 850,00
                        </div>
                        <div class="product-amount">
                            <i class="far fa-caret-square-left"></i>
                            <div class="unit-amount">
                                2
                            </div>
                            <i class="far fa-caret-square-right"></i>
                        </div>
                        <div class="product-subtotal">
                            <div class="subtotal-label">
                                Sub-total:
                            </div>
                            <div class="subtotal-price">
                                $ 1.700,00
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bottom-cart">
                <div class="full-cart-options-bar">
                    <div class="empty-cart">
                        Limpiar Carrito <i class="fas fa-trash-alt"></i>
                    </div>
                    <div class="confirm-cart">
                        <a href="/Login">Confirmar Carrito <i class="fas fa-check"></i></a>
                    </div>
                </div>
                <div class="safety-mentions">
                    <div class="caja-envio">
                        <img src="https://img.icons8.com/pastel-glyph/64/000000/shipping-service--v2.png"/>
                        <div class="caja-envio-texto">
                            <h4>Enviamos tu compra</h4>
                            <p>Entregas en todo el pais</p>
                        </div>
                        
                    </div>
        
                    <div class="caja-pago">
                        <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-credit-card-finance-kiranshastry-lineal-kiranshastry-1.png"/>
                        <div class="caja-envio-texto">
                            <h4>Paga como quieras</h4>
                            <p>Tarjetas de crédito o efectivo</p>
                        </div>
                    </div>
        
                    <div class="caja-seguridad">
                        <img src="https://img.icons8.com/windows/32/000000/security-block.png"/>
                        <div class="caja-envio-texto">
                            <h4>Compra con seguridad</h4>
                            <p>Tus datos siempre protegidos</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <nav class="footer-menus"> 
                <ul class="site-map">
                    <li><h3>Árbol del sitio</h3></li>
                    <li> <a href="#">Tu carrito </a>  </li>
                    <li> <a href="#"> Perfil </a> </li>
                    <li> <a href="#"> Sobre nosotros </a> </li>
                    <li> <a href="#"> Soporte  </a>  </li>
                </ul> 
                <ul class="social-networks-links">
                    <li><h3>Redes sociales</h3></li>
                    <li> <i class="fab fa-facebook"></i> /TecHouse</li>
                    <li> <i class="fab fa-instagram"></i> @TecHouse</li>
                    <li><i class="fab fa-twitter"></i>  @TecHouse</li>
                    <li> <i class="fab fa-whatsapp"></i> #1144445555</li>
                </ul>
            </nav>
            <div class="page-form">
                <div id="page-form">
                    <h3 class="form-title">Formulario de contacto</h3>
                <form id="formID" class="formClass" method="post" action=""> 
                    <div class="form-name-global">
                        <label for="formName" class="title-name">Nombre completo</label>
                        <div class="form-name">
                            <input type="text" id="formName" name="formName" class="form-name" required>
                        </div>
                    </div>
                    <div class="form-email-global">
                        <label for="formEmail" class="title-email">Dirección de email</label>
                        <div class="form-email">
                            <input type="email" id="formEmail" name="formEmail" class="form-email" required>
                        </div>
                    </div>
                    <div class="form-input-global">
                        <label for="formMessage" class="title-message">Escriba su mensaje</label>
                        <div class="form-message">
                            <textarea id="formMessage" name="formMessage" class="form-message" rows="5" maxlength="2000" required></textarea>
                        </div>
                    </div>
                    <div class="form-sent">
                        <button type="submit" id="formSent" class="form-sent">Enviar mensaje</button>
                    </div>
                </form>
            </div>
        </footer>
    </body>
</html>