@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}

main{
    color: black;
    padding-top: 80px;
    justify-content: center;
    text-align: center;
}

.Edition-Delete{
    display: none;
}

.Show{
    display: block;
}

main article {
    margin: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    background-color: #FFF;
    border-radius: 2%;
    width: 285px;
    height: auto;
    padding: 10px;
    font-family: Roboto;
}
main article a {
    height: 50%;
}

.main-article .price {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #00A997;
    border-radius: 2%;
}
.main-article .description {
    font-size: 0.6rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.main-article .colours {
    font-size: 0.6rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price{
    margin-bottom: 10px;
}

.product_img {
    height: 150px;
    width: auto;
}

main article .button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 2px 2px 0 0,#000 2px 2px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 220px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 7px 30px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    }

    main article a .button-50:focus {
    text-decoration: none;
    }

    main article a .button-50:hover {
    text-decoration: none;
    }

    main article a .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 1px 3px inset;
    outline: 0;
    }

    main article a .button-50:not([disabled]):active {
    box-shadow: #fff 1px 1px 0 0, #000 1px 1px 0 1px;
    transform: translate(2px, 2px);
    }


@media(min-width: 450px){

    main {
        margin-top: 70px;
        padding-top: 0px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    main article {
        margin-top: 60px;
        display: flex;
        align-content: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 300px;
        width: 450px;
    }

    main article .button-flex-container {
        text-decoration: none;
        color: white;
        padding-left: 215px;
        margin-top: 0px;
    }
    main article .article-flex-container {
        display: flex;
        align-content: center;
        flex-direction: row;
        justify-content: center;
    }
    main article .article-flex-container .titlePic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
    }
    main article .article-flex-container .titlePic .product_img {
        height: 200px;
        width: auto;
    }
    main article .article-flex-container .main-article {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 50px;
    }
 
    main article .button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 2px 2px 0 0,#000 2px 2px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Roboto,Arial,sans-serif;
    width: 200px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0px 10px 0;
    overflow: visible;
    padding: 7px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    }

    main article .button-50:focus {
    text-decoration: none;
    }

    main article .button-50:hover {
    text-decoration: none;
    }

    main article .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 1px 3px inset;
    outline: 0;
    }

    main article .button-50:not([disabled]):active {
    box-shadow: #fff 1px 1px 0 0, #000 1px 1px 0 1px;
    transform: translate(2px, 2px);
    }

}