@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.formulario {
    display: none;
}

.footer-top{
    display: flex;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #F8E0D8;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vw;
}

.footer-top a {
text-decoration: none;
color: #F8E0D8;
}

.footer-top ul {
    padding: 0;
    padding-top: 10px;
}

.footer-top li{
    list-style: none;
}

@media (min-width: 450px){
    .footer-top{
        display: flex;
        background-color: black;
        font-family: 'Roboto', sans-serif;
        color: #F8E0D8;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 2vw;
    }

    .footer-top a {
    text-decoration: none;
    color: #F8E0D8;
    }

    .footer-top ul {
        padding: 0;
        padding-top: 10px;
    }

    .footer-top li{
        list-style: none;
    }

    .formulario {
        display: block;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        color: #F8E0D8;
        text-align: left;
        background-color: black;
        padding-bottom: 10px;
        width: 400px;
    }

    .formNombre {
        width: 70%;
    }
    .formMensaje {
        width: 70%;
    }
    .formEmail {
        width: 70%;
    }
    .tituloForm {
        font-size: 2rem;
    }
}