@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

footer {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.navBar-footer {
    width: 100vw;
    height: 5px;
    background: linear-gradient(-45deg, #2b110a, #f8f8f8, #002735, #104135);
    background-size: 400% 400%;        
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

.formulario {
    display: none;
}

.footer-top{
    display: flex;
    background-color: black;
    color: #F8E0D8;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vw;
}

.footer-top a {
text-decoration: none;
color: #F8E0D8;
}

.footer-top ul {
    padding: 0;
    padding-top: 0px;
}

.footer-top li{
    list-style: none;
}

@media (min-width: 450px){
    .footer-top{
        display: flex;
        background-color: black;
        color: #F8E0D8;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.5vw;
    }

    .footer-top a {
    text-decoration: none;
    color: #F8E0D8;
    }

    .footer-top ul {
        padding: 0;
        padding-top: 0px;
    }

    .footer-top li{
        list-style: none;
    }

    .formulario {
        display: block;
        margin-top: 13px;
        margin-bottom: 20px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        color: #F8E0D8;
        text-align: left;
        background-color: black;
        padding-bottom: 10px;
        width: 400px;
    }

    .formNombre {
        width: 70%;
    }
    .formMensaje {
        width: 70%;
    }
    .formEmail {
        width: 70%;
    }
    .tituloForm {
        font-size: 2vw;
    }
}