@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ac치 comienza el estilo del header mobile*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ac치 comienza el estilo del main general*/

main .textOverImg h1 {
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    color: #F8E0D8;
    font-size: 5vw;
    text-shadow: 1px 1px 2px black;
}

.imgCarrousel {
    margin-top: 40px;
    display: flex;
}

.imgCarrousel img {
    width: 100%;
}


/* ac치 comienza el estilo de los banners con videos mobile*/
.experiencesMain {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 1%;
    padding-bottom: 1%;
}

.experiencesMain video {
    object-fit: cover;
    width: 49.5vw;
}

.experiencesMain a {
    width: 49.5vw;
}

.container {
    position:relative;
}

.container video {
    position:relative;
    z-index:0;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100%;
    background-color: black; 
    opacity: 0.9;
}

.overlay p {
    color: #F8E0D8;
    font-size: 2.5vw;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

#container3 {
    display: none;
}

#container4 {
    display: none;
}

/* ac치 comienza el estilo de los banners con videos desktop*/
@media (min-width: 450px){
    .experiencesMain video{
        object-fit: cover;
        width: 24vw;
        box-shadow: 5px 5px 5px grey;
    }
    .imgCarrousel {
        margin-top: 0px;
        display: flex;
    }
    main .textOverImg h1 {
        position: absolute;
        margin-top: 180px;
        margin-left: 60px;
        color: #F8E0D8;
        font-size: 5vw;
        text-shadow: 5px 5px 8px black;
    }
    
    .container { 
        position:relative;
    }

    .container video {
        position:relative;
        z-index:0;
    }

    .overlay {
        position:absolute;
        top:0;
        left:0;
        z-index:1;
        width: 100%;
        background-color: #000000; opacity: 0.9;
    }

    .overlay p{
        color: #F8E0D8;
        font-size: 1.2vw;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #container3 {
        display: block;
    }

    #container4 {
        display: block;
    }
}