
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin: 64px 0;
}
.cuadro {
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 2px 4px 20px -2px rgba(0,0,0,0.83);
    -webkit-box-shadow: 2px 4px 20px -2px rgba(0,0,0,0.83);
    -moz-box-shadow: 2px 4px 20px -2px rgba(0,0,0,0.83);
}
.formulario {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 22px;
    margin: 0;
}
p {
    font-size: 12PX;
    margin: 4px 0 16px
}
#nombre,
#apellido,
#correo,
#contraseña,
#confirmaContraseña,
#recuerdame {
    margin-bottom: 10px;
    font-size: 12px;
}

#recuerdame {
    margin-top: -6px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.boton-enviar {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.boton-enviar button {
    font-size: 16px;
    width: 100%;
    margin-top: 12px;
    background-color: #00A997;
    padding: 8px;
    border-radius: 5px
}
.boton-enviar button,

.boton-redes button {
    padding: 8px;
    border-radius: 8px;
}
.boton-redes {
    gap: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.botonFacebook {
    background-color: #3b5998;
    color: white;
    width: 180px
}
.botonFacebook i {
    font-size: 20px;
}

.botonGoogle i{
    color: #4285F4;
    font-size: 20px;
}

.botonGoogle {
    width: 180px
}

a {
    text-align: end;
    font-size: 12px;
}
.caja {
    width: 100%;
    display: flex;
    justify-content: center;
}
.caja img {
    width: 40px;
    height: 40px;
}
.caja-envio,
.caja-pago,
.caja-seguridad {
    display: flex;
    gap: 32px;
    padding: 24px;
    border-left: 1px solid black;
}
.caja-envio {
    border: none;
}
.caja-envio h4,
.caja-pago h4,
.caja-seguridad h4 {
    font-size: 16px;
    margin: 0 0 8px;
}
.caja-envio p,
.caja-pago p,
.caja-seguridad p {
    font-size: 12px;
    margin: 0;
}
@media (max-width: 450px) {
    .caja {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .caja img {
        width: 40px;
        height: 40px;
    }
    .caja-envio,
    .caja-pago,
    .caja-seguridad {
        border-bottom: 1px solid black;
        text-align: center;
        padding: 32px 0;
    }
    .caja-pago,
    .caja-seguridad {
        border-left: none;
    }
    .caja-seguridad {
        border-bottom: none;
    }
}


 /* Estilos para el header y el footer*/
 body {
    margin: 0px;
}
.header-principal-desktop{
    display: none;
}
.barra-principal-desktop{
    display: none;
}

.header-principal{
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: black;
}

.header-principal img {
    width: 50%;
}

.header-botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}

.header-botones a{
    text-align: right;
    font-size: 120%;
    color: #F8E0D8;
    margin-top: 5px;
}

.header-botones p{
    color: #F8E0D8;
    margin: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.barra-principal{
    display: flex;
    background-color: #00A997;
    font-family: 'Roboto', sans-serif;
    color: white;
    justify-content: space-around;
    padding-top: 2px;
    align-items: center;
}

.barra-principal a{
    text-decoration: none;
    color: white;
}

.barra-principal i {
    font-size: 100%;

}
/* acá comienza el estilo del main general*/

.imgCarrousel {
    display: flex;
}
.imgCarrousel img{
    width: 100%;
}
.experienciasMain {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 1%;
    padding-bottom: 1%;
}
.experienciasMain video{
    object-fit: cover;
    width: 23.5vw;
    box-shadow: 10px 5px 5px grey;
}
.experienciasMain a{
    width: 23.5vw;
}
.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100%;
    background-color: #00A997; opacity: 0.7;
}
.overlay p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    padding-left: 5%;
    margin-top: 3%;
    margin-bottom: 6%;
}
/* acá comienza el estilo del footer mobile*/
.piePagina{
    display: flex;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #F8E0D8;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2.5vw;
}

.piePagina a {
   text-decoration: none;
   color: #F8E0D8;
}

.piePagina ul {
    padding: 0;
}

.piePagina li{
    list-style: none;
}

/* acá comienza el estilo del header desktop*/
@media (min-width: 450px){
    .header-principal-desktop{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: black;
        color: #F8E0D8;
        font-family: 'Roboto', sans-serif;
        align-items: flex-end;
        padding-left: 5%;
        padding-right: 5%;
    }
    .header-principal{
        display: none;
    }
    .header-principal-desktop a {
        display: block;
        justify-content: space-around;
        color: #F8E0D8;
        text-decoration: none;
        padding-bottom: 10px;
        font-size: 1.5vw;
        padding-left: 2px;
        padding-right: 2px;
    }
    .header-principal-desktop i {
        padding-right: 5px;
        font-size: 2vw;
    }
    .header-principal-desktop img {
        width: 25%;
    }
    .header-searchBar-desktop {
        font-size: 1.5vw;
        align-items: top;
        position:absolute;
        padding-bottom: 12%;
    }
    .barra-principal{
        display:none;
    }
    .header-principal-desktop-columna1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-searchBar-desktop input{
        font-size: 1.5vw;
        background-color: #F8E0D8;
        border-radius: 5px;
    }
    .header-principal-desktop-columna2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .header-principal-desktop-columna2 p{
        padding-bottom: 10%;
        font-size: 1.5vw;
        text-align: right;
    }
    .header-principal-desktop-columna3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .header-principal-desktop-columna3 p{
        padding-bottom: 8%;
        font-size: 1.5vw;
        text-align: right;
    }
    .header-principal-desktop-columna3 em{
        font-size: 2.5vw;
    }
    .header-searchBar-desktop {
        text-align: left;
    }
    .barra-principal-desktop {
        display: flex;
        background-color: #00A997;
        font-family: 'Roboto', sans-serif;
        color: white;
        justify-content: space-around;
        padding-top: 2px;
        align-items: center;
    }
    
    .barra-principal-desktop a{
        text-decoration: none;
        color: white;
        font-size: 1.5vw;
    }
    
    
}
