@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*======================================================= */
/* Acá arrancan los estilos del "header"================= */
/*======================================================= */

.main-header {
    display: flex;
    max-width: 100vw;
    background-color: black;
    color: #F8E0D8;
    padding: 5px;
}

.botones-main-header a {
    text-decoration: none;
    color: #F8E0D8;
}

.logo-TecHouse {
    width: 170px;
}

.botones-main-header {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    height: 30px;
    align-items: center;
    padding-top: 10px;
    position: relative;
}

.soporte-Carrito {
    border: solid #F8E0D8 1px;
    background-color: #00A997;
    border-radius: 5px;
    width: 135px;
    padding: 5px;  
    position: absolute;
    right: 20%;
}

.boton-cerrar {
    margin: 1px;
    font-size: 28px;
    position: absolute;
    right: 1%;
}

/*======================================================= */
/* Acá arrancan los estilos del "main"=================== */
/*======================================================= */

.carrito-guardados {
    display: flex;
    height: 6vh;
    justify-content: space-around;
    align-items: center;
    background-color: #00A997;
    border: solid red 2px;
}

.listado-carrito,
.listado-guardados {
    border: solid #F8E0D8 1px;
    background-color: #F8E0D8;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    text-align: center;
}

section.ventana-productos {
    padding: 5px;
}

/*======================================================= */
/* Acá arrancan los estilos del "footer"================= */
/*======================================================= */

footer.pie-pagina {
    display: flex;
    background-color: black;
}

.menus-pie-pagina{
    display: flex;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #F8E0D8;
    justify-content: space-between;
    padding-right: 5%;
    font-size: 2.5vw;
}

.redes-sociales {
    padding: 0px 0px 0px 90px;
}

.menus-pie-pagina a {
   text-decoration: none;
   color: #F8E0D8;
}

.menus-pie-pagina li {
    list-style: none;
}

.formulario-contacto {
    display: none;
    content-visibility: hidden;
}

@media (min-width: 481px) {
    
    .formulario-contacto {
        display: flex;
        content-visibility: visible;
        background-color: white;
        flex-grow: 0.2;
        width: 30vw;
        padding: 10px 0px;
    }
}