@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ========================================================
    Reset (from browser factory design)
======================================================== */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
text,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ========================================================
    Set up the body
======================================================== */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
}

h2 {
    font-size: 24px;
}

/* ========================================================
    Header
======================================================== */

header {
    background-color: black;
}

div.top-header {
    width: 100vw;
    height: 100px;  
}

div.header-first-line {
    display: flex;
    width: 100%;
    height: 130px;
    color: #F8E0D8;
}

.TecHouse-logo {
    width: 100px;
    margin: 5px;
}

/* ========================================================
    Main
======================================================== */

main {
    margin: auto;
    width: 90vw;
}

main form {
    padding: 20px 20px;
    width: 100%;
    max-width: 800px;
}

#block-2 {
    padding: 5px 25px;
}

.top-main {
    display: inline-block;
}

#search-box {
    width: 100%
}

.stock-manager-form {
    display: inline-block;
}

.form-container {
    width: 100%;
    margin: 25px 0;
}

.form-container input {
    width: 100%;
    padding: 12px 13px;
    border-radius: 5px;
    border: 1px solid #666;
}

.form-container button {
    width: 100%;
    padding: 12px 13px;
    border-radius: 5px;
    background-color: #00A997;
}

.product-image {
    margin: 10px 20px;
    width: 90%;
    height: 380px;
    border-radius: 5px;
}

/* ========================================================
    Footer
======================================================== */

.piePagina {
    display: flex;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #F8E0D8;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vw;
}

.piePagina a {
    text-decoration: none;
    color: #F8E0D8;
}

.piePagina ul {
    padding: 0;
    padding-top: 10px;
}

.piePagina li {
    list-style: none;
}
.formulario {
    display: none;
}


/* ========================================================
    Responsive - Tablet & Desktop viewport
======================================================== */

@media (min-width: 450px) {
    
    body {
        background-color: white;
        margin: 0px;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    .top-header {
        height: 130px;
    }

    .TecHouse-logo {
        width: 140px;
    }

    .top-main {
        display: flex;
        justify-content: space-between;
    }
    
    .stock-manager-form {
        display: flex;
        justify-content: space-between;
    }

    .stock-manager-form form {
        display: flex;
        flex-direction: column;
    }

    .piePagina {
        display: flex;
        background-color: black;
        font-family: 'Roboto', sans-serif;
        color: #F8E0D8;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 2vw;
    }

    .piePagina a {
    text-decoration: none;
    color: #F8E0D8;
    }

    .piePagina ul {
        padding: 0;
        padding-top: 10px;
    }

    .piePagina li {
        list-style: none;
    }

    .formulario {
        display: block;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        color: #F8E0D8;
        text-align: left;
        background-color: black;
        padding-bottom: 10px;
        width: 400px;
    }

    .formNombre {
        width: 70%;
    }
    .formMensaje {
        width: 70%;
    }
    .formEmail {
        width: 70%;
    }
    .tituloForm {
        font-size: 2rem;
    }
}