<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles-detalle.css">
    <script src="https://kit.fontawesome.com/a245b1184d.js" crossorigin="anonymous"></script>
    <title>Detalle de producto</title>
</head>

<body>
    <header>
        <div class="header-principal">
            <img src="./images/Logo-TecHouse-header.png" alt="acá iría el logo">
            <div class="header-botones">
                <a href="#"> <i class="fas fa-shopping-cart"></i> </a>
                <p>
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </p>
            </div>
        </div>
        <div class="barra-principal">
            <i class="fas fa-bars"></i>
            <a href="#"> Sobre nosotros > </a>
            <a href="#"> Soporte ></a>

        </div>

    </header>
    <main>
        <div class="barra">
            <h2> Amazon <br> echo dot </h2>
            <button type="button" > Comprar </button>

        </div>
        <div class="descripcion-desktop">
            <img src="https://m.media-amazon.com/images/I/61V5O0UpgqS._AC_SX425_.jpg" alt="acá iría la imagen">
            <div class="descripcion-mitad">
                <h3>Características</h3>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam dignissimos quae dolor unde quisquam
                    minus aliquam. Excepturi, porro odit nobis sit molestiae, aperiam libero non nulla fugit iste quidem
                    reprehenderit?</p>
            </div>
        </div>
        <div class="descripcion">
            <h3 class="caracteristica">Características</h3>
            <img src="https://m.media-amazon.com/images/I/61V5O0UpgqS._AC_SX425_.jpg" alt="acá iría la imagen">
            <p class="texto-descripcion">Acá iría la descripción</p>
        </div>
        <h3 class="color">Color</h3>
        <div class="imagen-botones">
            <img src="https://i.ebayimg.com/images/g/L28AAOSwFNFf8lpP/s-l300.jpg" alt="Acá iría otra imagen">
            <div class="botones-desktop">
                <button type="button" class="azul"> Azul </button>
                <button type="button" class="rojo"> Rojo </button>
                <button type="button" class="negro"> Negro </button>
            </div>    
        </div>
        <div class="botones">
            <button type="button"> Azul </button>
            <button type="button"> Rojo </button>
            <button type="button"> Negro </button>
        </div>

        <div class="accesorio-contenido-desktop">
            <img src="https://i.blogs.es/0404b9/sensores/1366_2000.jpg" alt="Imagen de accesorio">
            <div class="mitad">
                <h3 class="accesorio">Accesorios</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit in iste possimus quasi error omnis
                    sint deleniti magni.</p>
                <button type="button" > Ver más </button>
            </div>
        </div>
        <div class="accesorio-contenido">
            <h3 class="accesorio">Accesorios</h3>
            <img src="https://i.blogs.es/0404b9/sensores/1366_2000.jpg" alt="Imagen de accesorio">
            <button type="button"> Ver más </button>
        </div>
    </main>
    <footer>
        <nav class="piePagina"> 
            <ul class="arbol-sitio">
                <li><h3>Árbol del sitio</h3></li>
                <li> <a href="#">Tu carrito </a>  </li>
                <li> <a href="#"> Perfil </a> </li>
                <li> <a href="#"> Sobre nosotros </a> </li>
                <li> <a href="#"> Soporte  </a>  </li>
            </ul> 
            <ul class="redes-sociales">
                <li><h3>Redes sociales</h3></li>
                <li> <i class="fab fa-facebook"></i> /TecHouse</li>
                <li> <i class="fab fa-instagram"></i> @TecHouse</li>
                <li><i class="fab fa-twitter"></i>  @TecHouse</li>
                <li> <i class="fab fa-whatsapp"></i> #1144445555</li>
            </ul> 
        </nav>
    </footer>

</body>

</html>