<!DOCTYPE html>
<html lang="en">
  ​<head>
    <%- include ("./partials/head.ejs") %>
    <link rel="stylesheet" href="./css/index.css">
  </head>
  <body>
      <%- include("./partials/header.ejs") %>
      <main>
          <div class="imgCarrousel">
              <img src="./images/TecHouse_banner.jpeg" alt="imagen carrousel">
          </div>
          <div class="experiencesMain">
              <div class="container" id="container1">
                  <a href="#"><video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" muted loop>
                  <source src="./videos/Home-vertvideo-camAI_web.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video></a>
                <div class="overlay">
                  <p>Controla lo que sucede en tu casa</p>
                  </div>
              </div>
              <div class="container" id="container2">
                  <a href="#"><video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" muted loop>
                  <source src="./videos/Home-vertvideo-deteccion_web.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video></a>
                <div class="overlay">
                  <p>Agrega seguridad a tu hogar</p>
                  </div>
              </div>
              <div class="container" id="container3">
                <a href="#"><video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" muted loop>
                  <source src="./videos/Home-vertvideo-llegada-a-casa_web.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video></a>
                <div class="overlay">
                  <p>Prepara la casa para tu llegada</p>
                  </div>
              </div>
              <div class="container" id="container4">
                <a href="#"><video onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" muted loop>
                  <source src="./videos/Home-vertvideo-luces_web.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video></a>
                <div class="overlay">
                  <p>Crea ambientes armoniosos</p>
                  </div>
              </div>
          </div>
      </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>