<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styleCarrito.css">
        <script src="https://kit.fontawesome.com/a245b1184d.js" crossorigin="anonymous"></script>
		<title>Carrito</title>
    </head>
    <body>
        <header class="main-header">
            <a href="/"><img class="logo-TecHouse" src="./images/Logo-TecHouse-header.png" alt="Logo de TecHouse"></a>
            <div class="botones-main-header">
                    <div class="soporte-Carrito">¿Necesitas ayuda?</div>
                    <div class="boton-cerrar">
                        <a href="/"><i class="far fa-times-circle"></i></a>
                    </div>
            </div>
        </header>
        <main>
            <div class="carrito-guardados">
                <div class="listado-carrito">
                    Carrito
                </div>
                <div class="listado-guardados">
                    Guardados
                </div>
            </div>
            <section class="ventana-productos">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos adipisci ex, quidem explicabo iusto quaerat facilis nisi, porro, inventore eius delectus! Ipsa doloribus ipsum possimus recusandae aliquam natus provident molestiae!
            </section>
        </main>
        <footer class="pie-pagina">
            <nav class="menus-pie-pagina"> 
                <ul class="arbol-sitio">
                    <li><h3>Árbol del sitio</h3></li>
                    <li> <a href="#">Tu carrito </a>  </li>
                    <li> <a href="#"> Perfil </a> </li>
                    <li> <a href="#"> Sobre nosotros </a> </li>
                    <li> <a href="#"> Soporte  </a>  </li>
                </ul> 
                <ul class="redes-sociales">
                    <li><h3>Redes sociales</h3></li>
                    <li> <i class="fab fa-facebook"></i> /TecHouse</li>
                    <li> <i class="fab fa-instagram"></i> @TecHouse</li>
                    <li><i class="fab fa-twitter"></i>  @TecHouse</li>
                    <li> <i class="fab fa-whatsapp"></i> #1144445555</li>
                </ul>
            </nav>
            <div class="formulario-contacto">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque aliquam voluptas repudiandae veritatis, sed quisquam voluptatibus nihil? Quam vel ipsam, maiores quod facere dolorem iste error, quaerat, sed sequi mollitia?
            </div>
        </footer>
    </body>
</html>