<div class="product">
    <div class="product-info">
        <div class="product-info-header">
            <img src="https://m.media-amazon.com/images/I/61V5O0UpgqS._AC_SX425_.jpg" alt="Foto de producto">
            <div class="product-details">
                <h3>Nombre de producto</h3>
                    <p>
                        Detalles generales y consideraciones del producto elegido. 
                    </p>
                    <p>
                        Ranking <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                    </p>
            </div>
            <div class="product-trash-can">
                <i class="fas fa-trash-alt"></i>
            </div>
        </div>
    </div>
    <div class="product-pricing">
        <div class="unit-price">
            $ 4.200,00
        </div>
        <div class="product-amount">
            <i class="far fa-caret-square-left"></i>
            <div class="unit-amount">
                1
            </div>
            <i class="far fa-caret-square-right"></i>
        </div>
        <div class="product-subtotal">
            <div class="subtotal-label">
                Sub-total:
            </div>
            <div class="subtotal-price">
                $ 4.200,00
            </div>
        </div>
    </div>
</div>