<footer>
    <nav class="piePagina"> 
        <ul class="arbol-sitio">
            <li><h3>Árbol del sitio</h3></li>
            <li> <a href="#">Tu carrito </a>  </li>
            <li> <a href="#"> Perfil </a> </li>
            <li> <a href="#"> Sobre nosotros </a> </li>
            <li> <a href="#"> Soporte  </a>  </li>
        </ul> 
        <ul class="redes-sociales">
            <li><h3>Redes sociales</h3></li>
            <li> <i class="fab fa-facebook"></i> /TecHouse</li>
            <li> <i class="fab fa-instagram"></i> @TecHouse</li>
            <li><i class="fab fa-twitter"></i>  @TecHouse</li>
            <li> <i class="fab fa-whatsapp"></i> #1144445555</li>
        </ul>
        <div class="formulario">

            <div id="formulario">
            <h3 class="tituloForm">Formulario de contacto</h3>
            <form id="formID" class="formClass" method="post" action=""> 
                <div class="formularioNombre-global">
                    <label for="formNombre" class="tituloNombre">Nombre completo</label>
                    <div class="formularioNombre">
                        <input type="text" id="formNombre" name="formNombre" class="formNombre" required>
                    </div>
                </div>
        
                <div class="formularioEmail-global">
                    <label for="formEmail" class="tituloEmail">Dirección de email</label>
                    <div class="formularioEmail">
                        <input type="email" id="formEmail" name="formEmail" class="formEmail" required>
                    </div>
                </div>
        
                <div class="formularioIngresar-global">
                    <label for="formMensaje" class="tituloMensaje">Escriba su mensaje</label>
                    <div class="formularioIngresar">
                        <textarea id="formMensaje" name="formMensaje" class="formMensaje" rows="5" maxlength="2000" required></textarea>
                    </div>
                </div>
                <div class="formularioEnviar">
                    <button type="submit" id="formEnviar" class="formEnviar">Enviar mensaje</button>
                </div>
        
            </form>
            </div>
        </div>
    </nav>
</footer>