<link rel="stylesheet" href="./css/styleHeader.css">
<header>
    <div class="header-top">
        <a href="/"><img src="./images/Logo-TecHouse-header-cut.png" alt="Logo TecHouse"></a>
        <div class="header-botones">
            <a href="/Login">
            <p><i class="fas fa-sign-in-alt"></i>
            Login
            </p></a>
        </div>
    </div>
    <div class="navBar-top">
        <a href="/Detalle"><i class="fas fa-bars"></i></a>
        <a href="#"> Sobre nosotros > </a>
        <a href="#"> Soporte ></a>
    </div>
    <div class="header-global-desktop">
        <div class="header-top-desktop">
            <div class="header-top-desktop-column1">
                <div class="header-searchBar-desktop">
                    <i class="fas fa-search"></i><input type="text" placeholder="Buscar..">
                </div>
                <a href="#"><i class="fas fa-square"></i>Experiencias</a>
            </div>    
                <a href="/List"><i class="fas fa-square"></i>Productos</a>
                <a href="/"><img src="/images/Logo-TecHouse-header.png" alt="acá iría el logo"></a>
                <div class="header-top-desktop-column2">
                    <p>  
                        <a href="/Login"><i class="fas fa-sign-in-alt"></i>
                        Login</a>
                    </p>
                    <a href="#"><i class="fas fa-square"></i>Sobre nosotros</a>
                </div>
                <div class="header-top-desktop-column3">
                    <p>
                    <a href="/Carrito"><em class="fas fa-shopping-cart"></em></a>
                    </p>
                    <a href="#"><i class="fas fa-square"></i>Soporte</a>
                </div>
                
        </div>
        <div class="navBar-top-desktop">
            <a href="#"> Iluminación > </a>
            <a href="#"> Sonido ></a>
            <a href="#"> Conectividad ></a>
            <a href="#"> Visual ></a>
            <a href="#"> Integración ></a>
        </div>
    </div>
</header>