<header>
    <div class="header-principal">
        <img src="./images/Logo-TecHouse-header-cut.png" alt="Logo TecHouse">
        <div class="header-botones">
            <a href="/Login">
            <p><i class="fas fa-sign-in-alt"></i>
            Login
            </p></a>
        </div>
    </div>
    <div class="barra-principal">
        <a href="/Detalle"><i class="fas fa-bars"></i></a>
        <a href="#"> Sobre nosotros > </a>
        <a href="#"> Soporte ></a>
    </div>
    <div class="header-global-desktop">
        <div class="header-principal-desktop">
            <div class="header-principal-desktop-columna1">
                <div class="header-searchBar-desktop">
                    <i class="fas fa-search"></i><input type="text" placeholder="Buscar..">
                </div>
                <a href="#"><i class="fas fa-square"></i>Experiencias</a>
            </div>    
                <a href="/Detalle"><i class="fas fa-square"></i>Productos</a>
                <img src="./images/Logo-TecHouse-header.png" alt="acá iría el logo">
                <div class="header-principal-desktop-columna2">
                    <p>  
                        <a href="/Login"><i class="fas fa-sign-in-alt"></i>
                        Login</a>
                    </p>
                    <a href="#"><i class="fas fa-square"></i>Sobre nosotros</a>
                </div>
                <div class="header-principal-desktop-columna3">
                    <p>
                    <a href="/Carrito"><em class="fas fa-shopping-cart"></em></a>
                    </p>
                    <a href="#"><i class="fas fa-square"></i>Soporte</a>
                </div>
                
        </div>
        <div class="barra-principal-desktop">
            <a href="#"> Iluminación > </a>
            <a href="#"> Sonido ></a>
            <a href="#"> Conectividad ></a>
            <a href="#"> Visual ></a>
            <a href="#"> Integración ></a>
        </div>
    </div>
</header>