<link rel="stylesheet" href="../css/styleIndex.css">
<header>
    <!-- Vista MOBILE -->
    <div class="header-top">
        <a href="/"><img src="../images/Logo-TecHouse-header-cut.png" alt="Logo TecHouse"></a>
        <% if (locals.user && user) {   %>
            <div class="header-botones">
                <p>
                    Hola <%= user.first_name %>
                </p>
            </div>
        <% } else  {  %>
            <div class="header-botones">
                <a href="/Login">
                    <p>
                        <i class="fas fa-sign-in-alt"></i> Login
                    </p>
                </a>
            </div>
        <% } %>
    </div>
    <div class="navBar-top">
        <a href="/Detalle"><i class="fas fa-bars"></i></a>
        <a href="#"> Sobre nosotros > </a>
        <a href="#"> Soporte ></a>
    </div>

    <!-- Vista DESKTOP -->
    <div class="header-global-desktop">
        <div class="header-top-desktop">
            <div class="header-top-desktop-column1">
                <!-- Barra de busqueda-->
                <form method = "GET" action = "/search" class="header-searchBar-desktop">
                    <i class="fas fa-search"></i><input id="headerSearchBar" type="text" name = "word" placeholder="Buscar..">
                </form>
                <div class="error-searchBar"></div>
                <!-- Finaliza Barra de busqueda-->
                <a href="#"><i class="fas fa-square"></i>Experiencias</a>
            </div>    
                <a href="/List"><i class="fas fa-square"></i>Productos</a>
                <a href="/"><img src="/images/Logo-TecHouse-header.png" alt="acá iría el logo"></a>
                    <div class="header-top-desktop-column2">
                        <% if (locals.user && user) {   %>
                            <div class = "userContainer">
                                <!-- <img class = "userImage" src="/images/users/<%= user.profile_image %> "> -->
                                <div class="userName">
                                    <p> Hola <%= user.first_name %> </p>
                                </div>
                            </div>
                       <% } else  {  %>
                        <a href="/Login">
                        <p><i class="fas fa-sign-in-alt"></i>
                        Login
                        </p></a> 
                        <%  } %> 
                        <a href="#"><i class="fas fa-square"></i>Sobre nosotros</a> 
                    </div>
                    <div class="header-top-desktop-column3">
                        <p>
                        <a href="/Carrito"><em class="fas fa-shopping-cart"></em></a>
                        </p>
                        <a href="#"><i class="fas fa-square"></i>Soporte</a>
                    </div>
                
        </div>
        <div class="navBar-top-desktop">
            <a href="#"> Iluminación > </a>
            <a href="#"> Sonido ></a>
            <a href="#"> Conectividad ></a>
            <a href="#"> Visual ></a>
            <a href="#"> Integración ></a>
        </div>
    </div>
    <script src="/js/headerFrontValidations.js"></script>
</header>